.fav-container {
  width: 80%;
  height: calc(100vh - 50px);
  margin: 0 auto;
  background-color: rgba(255, 191, 55, 1);
  padding: 20px;

    
  }
  .fav-wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;

    
  
  }
  .fav-cards{
    width: 90%;
    height: 150px;
    background-color: rgba(25, 50, 51, 1);
    margin: 0 10px 10px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    position: relative;
  
  }
  .fav-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
  .fav-desc {
    font-weight: bold;
    font-size: 15px;
    color: white;
    word-wrap: break-word;
  }
  .fav-favicon {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    right: 5px;
    top: 5px;
  }
  .fav-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .fav-btn {
    width: 28%;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
  }
  .fav-cards  .delete{
    background-color: rgba(255, 191, 55, 1);
    color: black;
    
  }
  