.add-container {
  width: 80%;
  height: calc(50vh - 50px);
  margin: 0 auto;
  background-color: rgba(255, 191, 55, 1);
  padding: 20px;
}

.add-head {
  position: absolute;
  top: -50px;
  font-weight: bold;
  color: black;
}
.add-wrapper {
  border-radius: 4px;
  padding: 10px;
  width: 40%;
  margin: 10px auto;
  height: 90%;
  background-color: rgba(25, 50, 51, 1);
}
form {
  display: flex;
  flex-direction: column;
}
.add-title {
  font-weight: bold;
  color: white;
}
.add-title-input {
  height: 30px;
  border: none;
  border-radius: 4px;
  margin: 5px 0px;
  padding: 5px;
}
.desc {
  height: 50px;
}
.add-button {
  margin-top: 10px;
  width: 30%;
  margin: 10px auto 0px auto;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-weight: BOLD;
  height: 30px;
}
